<p><a href="http://www.phila.gov/Pages/default.aspx">Phila</a> > <a href="http://www.phila.gov/li/Pages/default.aspx">L & I</a> > <a href="/">Zoning Appeals</a> > <strong>Detail</strong></p>
<h1>Zoning Appeals</h1>
<p><strong><%= VIOLATION_ADDRESS %></strong> <span class="detail-appeal-no">#<%= APPEAL_NUM %></span></p>
<div class="row">
  <div class="col-md-8">
  	<div class="panel panel-default">
  		<div class="panel-heading">
  			<h3 class="panel-title"><i class="fa fa-envelope"></i> Appeal</h3>
  		</div>
  		<div class="panel-body">
  			<div class="row">
  				<div class="col-md-6">
  					<ul class="list-group">
  						<li class="list-group-item list-group-item-label"><strong>ADDRESS</strong></li>
  						<li class="list-group-item"><%= VIOLATION_ADDRESS %></li>
  						<li class="list-group-item list-group-item-label"><strong>TYPE</strong></li>
  						<li class="list-group-item"><%= TYPE %></li>
  					</ul>
  				</div>
  				<div class="col-md-4">
  					<ul class="list-group">
  						<li class="list-group-item list-group-item-label"><strong>APPEAL #</strong></li>
  						<li class="list-group-item"><%= APPEAL_NUM %></li>
  						<li class="list-group-item list-group-item-label"><strong>PERMIT APPLICATION #</strong></li>
  						<li class="list-group-item"><%= PERMIT_NO %></li>
  					</ul>
  				</div>
  				<div class="col-md-12">
  					<ul class="list-group">
  						<li class="list-group-item list-group-item-label"><strong>APPLICATION DESCRIPTION</strong></li>
  						<li class="list-group-item"><%= GROUNDS %></li>
  						<li class="list-group-item list-group-item-label"><strong>PRIMARY APPLICANT</strong></li>
  						<li class="list-group-item"><%= PRIMARY_APPLICANT %></li>
  					</ul>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
 	<div class="col-md-4">
  	<div class="panel panel-default">
  		<div class="panel-heading">
  			<h3 class="panel-title"><i class="fa fa-calendar"></i> Hearing</h3>
  		</div>
  		<div class="panel-body">
  			<div class="row">
  				<div class="col-md-10">
  					<ul class="list-group">
  						<li class="list-group-item list-group-item-label"><strong>DATE</strong></li>
  						<li class="list-group-item"><%= DATE_SCHEDULED %></li>
  						<li class="list-group-item list-group-item-label"><strong>TIME</strong></li>
  						<li class="list-group-item"><%= TIME_SCHEDULED %></li>
  						<li class="list-group-item list-group-item-label"><strong>ZONING BOARD OF ADJUSTMENT</strong></li>
  						<li class="list-group-item">1515 Arch Street, 18th Floor<br />215-686-2429 or 215-686-2430</li>
  					</ul>
  				</div>
  			</div>
  		</div>
  	</div>
	</div>
	<div class="col-md-4">
		<a href="http://www.phila.gov/li/Pages/History.aspx?addressforhistory=<%= VIOLATION_ADDRESS %>" target="_new"><h4 class="well"><strong>Location History:</strong> <%= VIOLATION_ADDRESS %> <i class="fa fa-arrow-circle-right"></i></h4></a>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
  		<div class="panel-heading">
  			<h3 class="panel-title"><i class="fa fa-archive"></i> History</h3>
  		</div>
  		<div class="panel-body">
  			<div class="row">
          <div class="panel-group center-block" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#decision-history">
                    DECISION HISTORY
                  </a>
                </h4>
              </div>
              <div id="decision-history" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class="table table-striped decision-history-table">
                    <tbody>
                      <tr>
                        <th>Date</th>
                        <th>Decision</th>
                        <th>Notes</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#court-history">
                    COURT HISTORY
                  </a>
                </h4>
              </div>
              <div id="court-history" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class="table table-striped court-history-table">
                    <tbody>
                      <tr>
                        <th>Case #</th>
                        <th>Court Action</th>
                        <th>Date</th>
                        <th>Result</th>
                      </tr>
                      <tr>
                        <td>6/9/13</td>
                        <td>HELD/INFO</td>
                        <td>FOR TAX CERT</td>
                      </tr>
                      <tr>
                        <td>6/10/13</td>
                        <td>HELD/INFO</td>
                        <td>FOR TAX CERT</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
  		</div>
  	</div>
	</div>
</div>
	<div class="col-md-4 map-view">
		<div class="panel panel-default">
  		<div class="panel-body map-panel">
  			<div id="map"></div>
  		</div>
  	</div>
	</div>